
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url(./generic.css);



.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.header-main{
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0, .8), transparent); */
}
.logo-nav{
    height: 60px;
    width: 70px;
  }
  /* .container{
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 6rem;
  } */
  .nav-item{
    padding-left: 2rem;
  }
  .nav-link{
    color: #7f3b9e;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 450;
    border-radius: 10px;
  }
  .nav-link:hover{
   
    color: #7f3b9e;
    border-bottom: 2px solid #bf4da6 ;
   
    box-shadow: 2px 2px 5px #bf4da6;
  }

 


  
.hero{
    width: 100%; height: 100vh;
    background: url(../images-about/lap.jpg) center / cover;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(5);
}
.sub-headline{
    font-size: 6.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #60309c;
    font-weight: 300;
    line-height: .5;
    letter-spacing: 2px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 2s;
}

.headline{
    color: var(--white-color);
    font-size: 4.7rem;
    font-family: var(--font-main);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: scale 0.5s forwards;
    animation-delay: 1s;
}
.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #60309c;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: 3s;
}
.line-left::before,
.line-right::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}
.line-right::before{
    border-right-color: #60309c;
    right: 0;
}
.line-left::before{
    border-left-color: #60309c;
    left: 0;
}
.star{
    font-size: 1.2rem;
    color:#60309c;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin 2s forwards;
    animation-delay: 3s;
}
.single-animation{
    opacity: 0;
    animation: fadeDown 0.5s forwards;
    animation-delay: 2s;
}
.headline-description h5{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.8);
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #60309c;
    padding: .9rem 1.8rem;
    color:white;
    border-radius: .4rem;
    transition: background-color .5s;
}
.cta-btn:hover,
.cta-btn:focus{
    color: #60309c;
    background-color:white;
}
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}
.discover-story .global-headline{
    margin-top: 6.9rem;
}
.global-headline .fa-star{
    color: var(--body-color);
    margin: 2.3rem 0;
}
.headline-dark{
    color: var(--main-color);
    letter-spacing: .7rem;
}
.iedc-info{
    text-align: center;
}
.iedc-description{
    margin-bottom: 3rem;
}
.iedc-info-img{
    max-width: 50%;
    margin: 0 auto;
}
.body-btn{
    font-size: 1.5rem;
    color: #60309c;
    position: relative;
    transition: color .5s;
    margin-top: 2.5rem;
}
.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #60309c;
    transition: background-color .5s;
}
.body-btn:hover,
.body-btn:focus{
    color: black;
}
.body-btn:hover::before,
.body-btn:focus::before{
    background-color: black;
}
.iedc-sullam{
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.521)), 
    url(../images-about/grp1.jpg) center no-repeat;
    background-size: cover;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}
.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.discover-menu .iedc-description{
    padding-top: 3rem;
    margin-bottom: 0;
}
.perfect-blend{
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.521)),
     url(../images-about/visionn.jpg) center no-repeat;
    background-size: cover;
}
.footer{
    padding: 7.9rem 0;
    background-color:#60309c;
    color: WHITE;
    text-align: center;
    position: relative;
}
.back-to-top{
    width: 7rem; height: 7rem;
    background-color: white;
    position: absolute;
    top: -3rem; left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.back-to-top i{
    display: block;
    color: #60309c;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}
.footer-content .star{
    margin: 2.4rem 0;
    color: aliceblue;
}
.footer-about{
    margin-bottom: 5.4rem;
}
.footer-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: white;
    padding: 2rem 2rem;
    opacity: .5;
    transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
    color: white;
}
.footer-link{
    color: white;
    text-decoration: none;

}
.footer-link:hover{
    color:antiquewhite;
    text-decoration: none;

}
.footer ul{
    text-align: left;
}
.footer li{
    font-size: 1.5rem;
}


.mission{
    text-align: left;
}

@media (max-width:600px) {
    .iedc-sullam .headline{
        font-size: 3.5rem;
    }
    
}